body {
  background-color: rgb(124, 36, 124);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 15px;
  padding: 7px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

input {
  text-indent: 5px;
}
